*{
    background-color: black;
}

body{
    margin: 0;
}

#wizard{
    height: 50px;
    width: 50px;
    font-size: 50px;
    position: absolute;
    transition: 1s;
    margin: 0;
    padding: 0;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    overflow: visible;
}