.image-gallery{
  width:380px;
}

.image-gallery .mainImg{
  width:100%;
  border: 2px solid #333333;
}

.image-gallery input[type=button]{
  border:2px solid gray;
  background-color: #333333;
  border-radius: 4px;
  padding:10px;
  color:gray;
  font-weight: bold;
}